/*  ======================
    Start Global Variables
==========================*/

:root{
    --main-color : rgb(209, 174, 111);
    --subMain-color : rgb(166 166 166);
    --main-font : 'Merriweather', serif;
    --secondery-font : 'Oswald', sans-serif;
}

/*  ====================
    End Global Variables
========================*/


/*  ==================
    start form section
======================*/

.change-password{
    height: 50vh;
}

.change-password .container .change-pass-form {
    gap: 50px;
}

/*  ================
    End form section
====================*/